name: Compile PDFs

on:
  push: {}
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest

    container: texlive/texlive:latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v6

    - name: Install dependencies
      run: |
        apt-get update
        apt-get install --yes \
          fonts-roboto \
          fonts-adobe-sourcesans3 \
          pandoc

    - name: Compile
      run: make

    - uses: actions/upload-artifact@v6
      with:
        name: examples
        path: examples/*.pdf
