name: Compile PDFs

on:
  push: {}
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest

    container: texlive/texlive:latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v6

    - name: Install dependencies
      run: |
        apt-get update
        apt-get install --yes \
          fonts-roboto \
          fonts-adobe-sourcesans3 \
          pandoc

    - name: Compile
      run: make

    - uses: actions/upload-artifact@v4
      with:
        name: examples
        path: |
          examples/*.pdf
          examples/*.docx

  release:
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download compiled artifacts
        uses: actions/download-artifact@v4
        with:
          name: examples
          path: examples

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ github.event.head_commit.message }}
          tag_name: ${{ github.sha }}
          files: |
            examples/*.pdf
            examples/*.docx
